<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Clickatell.Services.Properties.StatusSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Clickatell.Services.Properties.RESTSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Clickatell.Services.Properties.HTTPSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Clickatell.Services.Properties.HeaderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Clickatell.Services.Properties.StatusSettings>
      <setting name="MessageUnknown_Code" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="MessageUnknown_Description" serializeAs="String">
        <value>Message unknown</value>
      </setting>
      <setting name="MessageQueued_Code" serializeAs="String">
        <value>002</value>
      </setting>
      <setting name="MessageQueued_Description" serializeAs="String">
        <value>Message queued</value>
      </setting>
      <setting name="DeliveredToGateway_Code" serializeAs="String">
        <value>003</value>
      </setting>
      <setting name="DeliveredToGateway_Description" serializeAs="String">
        <value>Delivered to gateway</value>
      </setting>
      <setting name="ReceivedByRecipient_Code" serializeAs="String">
        <value>004</value>
      </setting>
      <setting name="ReceivedByRecipient_Description" serializeAs="String">
        <value>Received by recipient</value>
      </setting>
      <setting name="ErrorWithMessage_Code" serializeAs="String">
        <value>005</value>
      </setting>
      <setting name="ErrorWithMessage_Description" serializeAs="String">
        <value>Error with message</value>
      </setting>
      <setting name="MessageCancelled_Code" serializeAs="String">
        <value>006</value>
      </setting>
      <setting name="MessageCancelled_Description" serializeAs="String">
        <value>User cancelled message delivery</value>
      </setting>
      <setting name="ErrorDeliveringMessage_Code" serializeAs="String">
        <value>007</value>
      </setting>
      <setting name="ErrorDeliveringMessage_Description" serializeAs="String">
        <value>Error delivering message</value>
      </setting>
      <setting name="MessageReceivedByGateway_Code" serializeAs="String">
        <value>008</value>
      </setting>
      <setting name="MessageReceivedByGateway_Description" serializeAs="String">
        <value>OK</value>
      </setting>
      <setting name="RoutingError_Code" serializeAs="String">
        <value>009</value>
      </setting>
      <setting name="RoutingError_Description" serializeAs="String">
        <value>Routing error</value>
      </setting>
      <setting name="MessageExpired_Code" serializeAs="String">
        <value>010</value>
      </setting>
      <setting name="MessageExpired_Description" serializeAs="String">
        <value>Message expired</value>
      </setting>
      <setting name="MessageQueuedForLaterDelivery_Code" serializeAs="String">
        <value>011</value>
      </setting>
      <setting name="MessageQueuedForLaterDelivery_Description" serializeAs="String">
        <value>Message queued for later delivery</value>
      </setting>
      <setting name="OutOfCredit_Code" serializeAs="String">
        <value>012</value>
      </setting>
      <setting name="OutOfCredit_Desciption" serializeAs="String">
        <value>Out of credit</value>
      </setting>
      <setting name="MaximumMTLimit_Code" serializeAs="String">
        <value>014</value>
      </setting>
      <setting name="MaximumMTLimit_Desciption" serializeAs="String">
        <value>Maximum MT limit exceeded</value>
      </setting>
    </Clickatell.Services.Properties.StatusSettings>
    <Clickatell.Services.Properties.RESTSettings>
      <setting name="AuthenticateURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/account/balance</value>
      </setting>
      <setting name="SendMessageURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/message </value>
      </setting>
      <setting name="BalanceURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/account/balance</value>
      </setting>
      <setting name="CoverageURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/coverage/{0}</value>
      </setting>
      <setting name="StopMessageURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/message/{0}</value>
      </setting>
      <setting name="MessageChargeURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/message/{0}</value>
      </setting>
      <setting name="MessageStatusURL" serializeAs="String">
        <value>https://api.clickatell.com/rest/message/{0}</value>
      </setting>
      <setting name="XVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PostMethod" serializeAs="String">
        <value>POST</value>
      </setting>
      <setting name="GetMethod" serializeAs="String">
        <value>GET</value>
      </setting>
      <setting name="DeleteMethod" serializeAs="String">
        <value>DELETE</value>
      </setting>
      <setting name="ContentType" serializeAs="String">
        <value>application/json</value>
      </setting>
      <setting name="Accept" serializeAs="String">
        <value>application/json</value>
      </setting>
      <setting name="EncodingName" serializeAs="String">
        <value>iso-8859-1</value>
      </setting>
      <setting name="AuthenticationTokenFormat" serializeAs="String">
        <value>bearer {0}</value>
      </setting>
    </Clickatell.Services.Properties.RESTSettings>
    <Clickatell.Services.Properties.HTTPSettings>
      <setting name="AuthenticateURL" serializeAs="String">
        <value>http://api.clickatell.com/http/auth</value>
      </setting>
      <setting name="SendMessageURL" serializeAs="String">
        <value>http://api.clickatell.com/http/sendmsg</value>
      </setting>
      <setting name="BalanceURL" serializeAs="String">
        <value>http://api.clickatell.com/http/getbalance</value>
      </setting>
      <setting name="CoverageURL" serializeAs="String">
        <value>http://api.clickatell.com/utils/routeCoverage.php</value>
      </setting>
      <setting name="StopMessageURL" serializeAs="String">
        <value>http://api.clickatell.com/http/delmsg</value>
      </setting>
      <setting name="MessageChargeURL" serializeAs="String">
        <value>http://api.clickatell.com/http/getmsgcharge</value>
      </setting>
      <setting name="MessageStatusURL" serializeAs="String">
        <value>http://api.clickatell.com/http/querymsg</value>
      </setting>
      <setting name="QueryString_User" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="QueryString_Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="QueryString_ApiId" serializeAs="String">
        <value>api_id</value>
      </setting>
      <setting name="QueryString_To" serializeAs="String">
        <value>to</value>
      </setting>
      <setting name="QueryString_Text" serializeAs="String">
        <value>text</value>
      </setting>
      <setting name="QueryString_ApiMsgId" serializeAs="String">
        <value>apimsgid</value>
      </setting>
      <setting name="QueryString_MSISDN" serializeAs="String">
        <value>msisdn</value>
      </setting>
      <setting name="PhoneNumberFormat" serializeAs="String">
        <value>{0},</value>
      </setting>
    </Clickatell.Services.Properties.HTTPSettings>
    <Clickatell.Services.Properties.HeaderSettings>
      <setting name="Authorization" serializeAs="String">
        <value>Authorization</value>
      </setting>
      <setting name="XVersion" serializeAs="String">
        <value>X-Version</value>
      </setting>
    </Clickatell.Services.Properties.HeaderSettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
