<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode resourceKey="Home">
    <siteMapNode resourceKey="Tenant.Portal" PermissionNames="Property.Tenant.Portal" controller="Tenant" action="Portal" IconClass="fa-line-chart" />
    <siteMapNode resourceKey="Dashboard" PermissionNames="Dashboard.Dashboard.Read" controller="Dashboard" action="Index" IconClass="fa-line-chart" />
    <siteMapNode systemName="Analytics" resourceKey="Analytics" IconClass="fa-th"></siteMapNode>
    <siteMapNode resourceKey="Administration" IconClass="fa-gears">
      <siteMapNode resourceKey="Administration.Organization" PermissionNames="Administration.Organization.Read" controller="Organization" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Administration.MessageTemplate" PermissionNames="Administration.MessageTemplate.Read" controller="MessageTemplate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Administration.AutoNumber" PermissionNames="Administration.AutoNumber.Read" controller="AutoNumber" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Administration.Language" PermissionNames="Administration.Language.Read" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Administration.Currency" PermissionNames="Administration.Currency.Read" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode resourceKey="Asset" IconClass="fa-building">
      <siteMapNode resourceKey="Asset.Asset" PermissionNames="Asset.Asset.Read" controller="Asset" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Asset.Location" PermissionNames="Asset.Location.Read" controller="Location" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Asset.Meter" PermissionNames="Asset.Meter.Read" controller="Meter" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Asset.MeterGroup" PermissionNames="Asset.MeterGroup.Read" controller="MeterGroup" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Maintenance" IconClass="fa-briefcase">
      <siteMapNode resourceKey="Maintenance.ServiceRequest" PermissionNames="Maintenance.ServiceRequest.Read" controller="ServiceRequest" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Maintenance.WorkOrder" PermissionNames="Maintenance.WorkOrder.Read" controller="WorkOrder" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Maintenance.PreventiveMaintenance" PermissionNames="Maintenance.PreventiveMaintenance.Read" controller="PreventiveMaintenance" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Maintenance.TaskGroup" PermissionNames="Maintenance.TaskGroup.Read" controller="TaskGroup" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode resourceKey="Resource" IconClass="fa-cube">
      <siteMapNode resourceKey="Resource.Calendar" PermissionNames="Resource.Calendar.Read" controller="Calendar" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Resource.Shift" PermissionNames="Resource.Shift.Read" controller="Shift" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Resource.Craft" PermissionNames="Resource.Craft.Read" controller="Craft" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Resource.Team" PermissionNames="Resource.Team.Read" controller="Team" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="Resource.Technician" PermissionNames="Resource.Technician.Read" controller="Technician" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode resourceKey="Inventory" IconClass="fa-archive">
      <siteMapNode resourceKey="Inventory.UnitOfMeasure" PermissionNames="Inventory.UnitOfMeasure.Read" controller="UnitOfMeasure" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.UnitConversion" PermissionNames="Inventory.UnitConversion.Read" controller="UnitConversion" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.ItemGroup" PermissionNames="Inventory.ItemGroup.Read" controller="ItemGroup" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Item" PermissionNames="Inventory.Item.Read" controller="Item" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.ServiceItem" PermissionNames="Inventory.ServiceItem.Read" controller="ServiceItem" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Store" PermissionNames="Inventory.Store.Read" controller="Store" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Inventory" PermissionNames="Inventory.Inventory.Read" controller="Inventory" action="List" IconClass="fa-dot-circle-o" />      
      <siteMapNode resourceKey="Inventory.Receipt" PermissionNames="Inventory.Receipt.Read" controller="Receipt" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Issue" PermissionNames="Inventory.Issue.Read" controller="Issue" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Transfer" PermissionNames="Inventory.Transfer.Read" controller="Transfer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Return" PermissionNames="Inventory.Return.Read" controller="Return" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.Adjust" PermissionNames="Inventory.Adjust.Read" controller="Adjust" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Inventory.PhysicalCount" PermissionNames="Inventory.PhysicalCount.Read" controller="PhysicalCount" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Purchasing" IconClass="fa-shopping-cart">
      <siteMapNode resourceKey="Purchasing.Company" PermissionNames="Purchasing.Company.Read" controller="Company" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Purchasing.Contract" PermissionNames="Purchasing.Contract.Read" controller="Contract" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="People" IconClass="fa-users">
      <siteMapNode resourceKey="People.User" PermissionNames="People.User.Read" controller="User" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Security" IconClass="fa-lock">
      <siteMapNode resourceKey="Security.SecurityGroup" PermissionNames="Security.SecurityGroup.Read" controller="SecurityGroup" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Workflow" IconClass="fa-magic">
      <siteMapNode resourceKey="Workflow.AssignmentGroup" PermissionNames="Workflow.AssignmentGroup.Read" controller="AssignmentGroup" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Workflow.WorkflowDefinition" PermissionNames="Workflow.WorkflowDefinition.Read" controller="WorkflowDefinition" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Report" IconClass="fa-table">
      <siteMapNode resourceKey="Report.Filter" PermissionNames="Report.Filter.Read" controller="Filter" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Report.Report" PermissionNames="Report.Report.Read" controller="Report" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode resourceKey="Report.Visual" PermissionNames="Report.Visual.Read" controller="Visual" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="Setting" IconClass="fa-wrench">
      <siteMapNode resourceKey="Setting.GeneralSettings" PermissionNames="Setting.GeneralSettings.Read" controller="Setting" action="General" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode resourceKey="System" IconClass="fa-cube">
      <siteMapNode resourceKey="System.ValueItem" PermissionNames="System.ValueItem.Read" controller="ValueItem" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Code" PermissionNames="System.Code.Read" controller="Code" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Attribute" PermissionNames="System.Attribute.Read" controller="Attribute" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Module" PermissionNames="System.Module.Read" controller="Module" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.ScheduledJob" PermissionNames="System.ScheduledJob.Read" controller="ScheduledJob" action="List"  IconClass="fa-dot-circle-o"/>   
      <siteMapNode resourceKey="System.AuditTrail" PermissionNames="System.AuditTrail.Read" controller="AuditTrail" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.AuditEntityConfiguration" PermissionNames="System.AuditEntityConfiguration.Read" controller="AuditEntityConfiguration" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Import" PermissionNames="System.ImportProfile.Read" controller="ImportProfile" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.SystemInfo" PermissionNames="System.SystemInfo.Read" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Log" PermissionNames="System.Log.Read" controller="Log" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode resourceKey="System.Message" PermissionNames="System.Message.Read" controller="Message" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

